extends layout

block content
  div
    h2 About
    li Feel free to reach out to us with any questions.
    hr

    ul
      h3 The App
      li This is a web app designed to let users identify plants they see in nature, specifically in SouthWest Florida, USA.
      br
      li There are custom drawings created to help users identify a plant's key features, which can be difficult with just pictures alone.
      li We decided to use custom drawings for the plants in order to sperate the viewer from reality and have them focus on the main key structures of the plants.
      li Using black lines for the plant details allows us to highlight the main identifiers of the plants so it can be easier to find what they are looking for - or to dismiss something altogether.


      h3 The Team
      li We are two twin brothers who decided to team up and make a cool hiking companion app.

      ul
        h4 Eric - Developer
        li A Node.js developer who loves competing in hackathons, hiking, and playing guitar.
        br
        li Find me at 
          a(href="https://github.com/cireneirbo", target="_blank") my GitHub
          | .

      ul
        h4 Ben - Artist
        li A freelance illustrator/animator who loves using open source programs to create while drinking too much coffee.
        br
        li Find me at 
          a(href="https://github.com/drawdeneirbo", target="_blank") my GitHub
          | .
      