extends layout

block content
  div
    h2 Home
    li This is a web app designed to let users identify plants they see in nature.
    hr

    ul
      h4 Search
      li To search for a plant you want to identify, check out our Search page.

      h4 List
      li Maybe you just want to see all the plants in our database? Then you will want to look at our Listpage.

      h4 About
      li Interested in more information about what the app does and who made the app? Then head over to the About page.