extends layout

block content
  div
    h2=title
    ul
      li Select your search parameters from the drop-down menus below.
      br
      li You can use as many or as few as you'd like.
    
    hr

  form(method='POST' action='')
    div
      label.form-label
        span.form-span-text Which type of plant is it?
        span.form-span
        select#plant-type.form-select(name='plant_type')
          option(value="") * None Selected *
          option(value="Evergreen") Evergreen
          option(value="Shrub") Shrub
          option(value="Vine") Vine
          option(value="Annual") Annual
          option(value="Houseplant") Houseplant
          option(value="Poisonous") Poisonous
          option(value="Round") Round
          option(value="Tree") Tree

    div
      label.form-label
        span.form-span-text Which shape of plant is it?
        span.form-span
        select#plant-shape.form-select(name="plant_shape")
          option(value="") * None Selected *
          option(value="Hedge") Hedge
          option(value="Round") Round
          option(value="Arching") Arching
          option(value="Climbing") Climbing
          option(value="Spreading") Spreading
          option(value="Dense") Dense
          option(value="Erect") Erect
          option(value="Mounding") Mounding
          option(value="Oval") Oval
          option(value="Creeping") Creeping
          option(value="Various") Various

    div
      label.form-label
        span.form-span-text Which color are the leaves?
        span.form-span
        select#leaf-color.form-select(name="leaf_color")
          option(value="") * None Selected *
          option(value="Yellow") Yellow
          option(value="Medium Green") Medium Green
          option(value="Blue Green") Blue Green
          option(value="Light Green") Light Green
          option(value="Green") Green
          option(value="Gold/Yellow") Gold/Yellow
          option(value="Orange") Orange
          option(value="Pink") Pink
          option(value="Purple/Lavender") Purple/Lavender
          option(value="Red/Burgundy") Red/Burgundy
          option(value="Variegated") Variegated
          option(value="White") White

    div
      label.form-label
        span.form-span-text Which type of leaves does it have?
        span.form-span
        select#leaf-type.form-select(name="leaf_type")
          option(value="") * None Selected *
          option(value="oval") Oval
          option(value="elongated") Elongated
          option(value="elliptical") Elliptical
          option(value="clustered") Clustered
          option(value="heart-shaped") Heart-shaped
          option(value="oblong") Oblong
          option(value="ovate") Ovate
          option(value="even pinnate") Even Pinnate
          option(value="linear") Linear
          option(value="spatulate") Spatulate
          option(value="oblanceolate") Oblanceolate
          option(value="obovate") Obovate
          option(value="compound") Compound
          option(value="simple") Simple

    div
      label.form-label
        span.form-span-text Approximately how big are the leaves?
        span.form-span
        select#leaf-dimensions.form-select(name="leaf_dimensions")
          option(value="") * None Selected *
          option(value="3-5 inches long") 3-5 inches long
          option(value="1-3 inches wide") 1-3 inches wide
          option(value="2-4 inches long") 2-4 inches long
          option(value="1 inch wide") 1 inch wide
          option(value="< 1 inch long") less than 1 inch long
          option(value="< 1 inch wide") less than 1 inch wide
          option(value="1-3 inches long") 1-3 inches long
          option(value="1-2 inches long") 1-2 inches long
          option(value="6-12 inches long") 6-12 inches long
          option(value="3-6 inches long") 3-6 inches long
          option(value="1-2 inches wide") 1-2 inches wide
          option(value="2-5 inches") 2-5 inches

    div
      label.form-label
        span.form-span-text Which color is the bark?
        span.form-span
        select#bark-color.form-select(name="bark_color")
          option(value="") * None Selected *
          option(value="Light Brown") Light Brown
          option(value="Tan") Tan
          option(value="Yellow") Yellow
          option(value="Medium Green") Medium Green
          option(value="Light Grey") Light Grey
          option(value="Green") Green
          option(value="Dark Brown") Dark Brown
          option(value="Grey/Silver") Grey/Silver
          option(value="Pale Green") Pale Green
        
    div
      label.form-label
        span.form-span-text Which color is the stem?
        span.form-span
        select#stem-color.form-select(name="stem_color")
          option(value="") * None Selected *
          option(value="Yellow") Yellow
          option(value="Medium Green") Medium Green
          option(value="Green") Green
          option(value="Red") Red
          option(value="Burgundy") Burgundy
          option(value="Brown/Copper") Brown/Copper
          option(value="Creamy/Tan") Creamy/Tan
          option(value="Grey/Silver") Grey/Silver
          option(value="Pale Green") Pale Green

    div
      label.form-label
        span.form-span-text Which color are its fruits?
        span.form-span
        select#fruit-color.form-select(name="fruit_color")
          option(value="") * None Selected *
          option(value=" - ") No fruit
          option(value="Yellow") Yellow
          option(value="Medium Green") Medium Green
          option(value="Achene") Achene
          option(value="Red") Red
          option(value="Burgundy") Burgundy
          option(value="Orange") Orange
          option(value="Brown") Brown
          option(value="Dark") Dark
          option(value="Black") Black
        
    div
      label.form-label
        span.form-span-text Which color are its flowers?
        span.form-span
        select#flower-color.form-select(name="flower_color")
          option(value="") * None Selected *
          option(value=" - ") No flowers
          option(value="Red") Red
          option(value="Pink") Pink
          option(value="White") White
          option(value="Purple") Purple
          option(value="Yellow") Yellow
          option(value="Orange") Orange
          option(value="Pale Pink") Pale Pink
          option(value="Gold/Yellow") Gold/Yellow
          option(value="Red/Burgundy") Red/Burgundy
          
    div
      label.form-label
        span.form-span-text Approximately how big are its flowers?
        span.form-span
        select#flower-dimensions.form-select(name="flower_dimensions")
          option(value="") * None Selected *
          option(value=" - ") No flowers
          option(value="2-3 inches wide") 2-3 inches wide
          option(value="2-5 inches long") 2-5 inches long
          option(value="< 1 inch wide") less than 1 inch wide
          option(value="< 1 inch long") less than 1 inch long
          option(value="< 1 inch") less than 1 inch
          option(value="1-3 inches round") 1-3 inches round
          option(value="3-6 inches") 3-6 inches
          option(value="1-3 inches") 1-3 inches
        
    div 
      span.form-span
      button.form-button(type='submit') Show Me What You Got!

  if errors
    ul
      for error in errors
        li!= error.msg
